.card {
    position: inherit;
    width: 450px !important;
    height: 500px;
    padding: 16px;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
  }

.imgP{
    width: 400px;
    height: auto;
}
.principalImage{
    width: auto;
}

@media only screen and (max-width: 960px){
    .card{
        width: auto !important;
        height: 345px !important;
    }
    .imgP{
        width: 225px;
    }
}

@media only screen and (min-width: 280px){
    .principalImage{
        width: 200px !important;
    }
}

@media only screen and (min-width: 375px){
    .principalImage{
        width: 300px !important;
    }
}

@media only screen and (min-width: 768px){
    .principalImage{
        width: 650px !important;
    }
}

@media only screen and (min-width: 1024px){
    .principalImage{
        width: 900px !important;
    }
}
